{% extends "base.html" %}

{% block content %}
  <h2>Adicionar Notícia</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvar</button>
  </form>

  <form method="post" action="{% url 'logout' %}">
  {% csrf_token %}
  <button type="submit">Sair</button>
  </form>

{% endblock %}


<!-- versão do html com bootstrap pra testar -->

<!-- {% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="card shadow">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">Adicionar Notícia</h4>
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
          <div class="mb-3">
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
              <div class="form-text">{{ field.help_text }}</div>
            {% endif %}
            {% if field.errors %}
              <div class="text-danger small">
                {{ field.errors }}
              </div>
            {% endif %}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Salvar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %} -->
