{% load news_tags  %}
<!-- Carousel::begin -->
<div id="main-carousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>        
    </div>
    <div class="carousel-inner">
        {% for news_item in news %}         
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="featured-post-7 margin-bottom-in-small border-bottom-in-small">
                <a href="#" title="{{ news_item.title }}">
                    <div class="featured-post-container">
                        <div class="featured-post-img">
                            {% category_badge news_item.category.name news_item.category.color %}
                            <picture>
                                <img src="{{ news_item.image.url }}" alt="{{ news_item.title }}">
                            </picture>
                        </div>
                        <div class="featured-post-text featured-post-text-in read-more">
                            <h2 class="mb-2 mb-lg-4">{{ news_item.title }}</h2>
                            <p>{% read_more news_item.abstract 100 %}</p>
                            <span class="secondary-text ">{{ news_item.created_at|timesince }}</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#main-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#main-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- Carousel::end -->