{% load static %}
<!-- Footer::begin -->
<footer class="bg-dark">
    <div class="container">
        <div class="py-5">
            <div class="row">

                <div class="col-12 col-md-2 mb-3">
                    <img class="logo-footer w-100 p-3" src="assets/images/adsnewslogo.png" alt="logo do site">
                </div>

                <div class="col-12 col-md-2 mb-3 text-white">
                    <h5>ADS News</h5>
                    <h6>Fique por dentro do código, por trás das notícias!</h6>
                    <ul class="nav flex-column">
                    </ul>
                </div>

                <div class="col-12 col-md-2 mb-3 text-white">
                    <h5>Pincipais</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="index.html" class="nav-link p-0 text-white">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Blogs </a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Notícias</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Sobre Nós</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-5 offset-md-1 mb-3">
                    <form>
                        <h5 class="text-white">Se inscreva na nossa newsletter!</h5>
                        <p class="text-white">Receba as notícias mais rápidas do curso de ADS da Unifip-PB</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">E-mail</label>
                            <input id="newsletter1" type="text" class="form-control" placeholder="E-mail">
                            <button class="btn btn-primary" type="button">Inscrever</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p class="text-white">© 2025 ADS News. Todos os direitos reservados.</p>

                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-body-emphasis" href="https://github.com/andreantoniobr/ads-news"
                            target="_blank">
                            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                                width="40" height="40" alt="GitHub" class="rounded-icon">
                        </a></li>

                    <li class="ms-3"><a class="link-body-emphasis"
                            href="https://www.instagram.com/analisedesistemasunifip/" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" width="40"
                                height="40" alt="GitHub">
                        </a></li>
                </ul>

            </div>
        </div>
    </div>
</footer>
<!-- Footer::end -->