{% load static %}
<!-- Main::begin -->
<main>
    {% include 'partials/advertising/advertising.html' %}

    {% include 'partials/featured/featured.html' with featured_news=news.featured_news carousel_news=news.carousel_news %}

    {% include 'partials/featured/featured2.html' with featured_news_2=news.featured_news_2 %}

    {% include 'partials/infinite_scroll.html' with list_news=news.list_news %}

    {% include 'partials/advertising/advertising2.html' %}

    {% include 'partials/videos.html' with videos=news.videos %}

    {% include 'partials/sponsored.html' with sponsored_news=sponsored_news %}
</main>
<!-- Main::end -->