<!-- Menu OffCanvas::begin -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link d-flex py-2 py-sm-3 border-top border-bottom justify-content-between active"
                    aria-current="page" href="#">
                    Tecnologia
                    <i class="bi bi-caret-right"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex py-2 py-sm-3 border-bottom justify-content-between" href="#">
                    Entretenimento
                    <i class="bi bi-caret-right"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex py-2 py-sm-3 border-bottom justify-content-between" href="#">
                    Ciência
                    <i class="bi bi-caret-right"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex py-2 py-sm-3 border-bottom justify-content-between" href="#">
                    Cultura
                    <i class="bi bi-caret-right"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex py-2 py-sm-3 border-bottom justify-content-between" href="#">
                    Brasil
                    <i class="bi bi-caret-right"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex py-2 py-sm-3 border-bottom justify-content-between" href="#">
                    Mundo
                    <i class="bi bi-caret-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- Menu OffCanvas::end -->